* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
#navbar{
    background-color: #f9f9f9;
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span {
    color: blueviolet;
    text-shadow: 0px 2px 1px black;

}
.navbar-toggler span{
    color: blueviolet;

}
.navbar-nav {
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: blueviolet;
    color: #fff;
}
.navbar form button{
    background: blueviolet;
    color: #fff;
    border: none;
}
.main-txt h1 {
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span {
    color: blueviolet;
}
.packages .card {
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.packages .card img {
    border-radius: 5px;
    height: 60vh;
}
.packages .card .card-body {
    background: transparent;
}
.packages .card .card-body h3 {
    font-size: 25px;
    font-weight: 600;
}
.packages .card .card-body p {
    font-size: 15px;
}
.checked {
    color: blueviolet;
}
.star i {
    font-size: 15px;
}
.packages .card .card-body h6 {
    font-size: 20px;
}
.packages .card .card-body a {
    padding: 10px;
    text-decoration: none;
    background: blueviolet;
    color: #fff;
    border-radius: 5px;
}