* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
#navbar{
    background-color: #f9f9f9;
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span {
    color: blueviolet;
    text-shadow: 0px 2px 1px black;

}
.navbar-toggler span{
    color: blueviolet;

}
.navbar-nav {
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: blueviolet;
    color: #fff;
}
.navbar form button{
    background: blueviolet;
    color: #fff;
    border: none;
}
.book{
    background: #f9f9f9;
    padding: 50px;
}
.main-text h1 {
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}
.main-text h1 span {
    color: blueviolet;
}
.book .card {
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book .row {
    margin-top: 30px;
}
.book form input {
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book form textarea {
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 200px;

}
.book .submit {
    width: 160px;
    font-weight: 550;
    font-size: 16px;
    background: blueviolet;
    color: #fff;
    margin-top: 10px;
    transition: 0.5s;
}
.book .submit:hover{
    width: 170px;
}
@media(max-width:765px){
    .book {
        padding: 0;
    }
    .main-text h1 {
        padding: 20px;
    }
}